/* addAchievement.css */
/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 20px;*/
/*}*/
.main h1 {
    color: #4e73df;
    margin-bottom: 20px; /* 减少与按钮之间的间距 */
    font-size: 28px;
    border-bottom: 2px solid #4e73df;
    display: inline-block;
    padding-bottom: 10px;
}

/* 返回主页按钮样式 */
.back-button {
    /*display: inline-block;*/
    padding: 10px 20px;
    margin-bottom: 30px; /* 与标题和表单之间的间距 */
    border: none;
    border-radius: 5px;
    background-color: #6c757d; /* 灰色背景 */
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.back-button:hover {
    background-color: #5a6268; /* 悬停时颜色加深 */
    box-shadow: 0 4px 8px rgba(90, 98, 104, 0.2);
}

/* 表单样式 */
.main form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}

.main label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333333;
}

.main input[type="text"],
.main input[type="datetime-local"],
.main select,
.main textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 16px;
}

.main input[type="text"]:focus,
.main input[type="datetime-local"]:focus,
.main select:focus,
.main textarea:focus {
    border-color: #4e73df;
    outline: none;
}

#editor-container {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4e73df;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.main button:hover {
    background-color: #2e59d9;
    box-shadow: 0 4px 8px rgba(46, 89, 217, 0.2);
}

.main button[type="button"] {
    background-color: #6c757d;
    margin-left: 10px;
}

.main button[type="button"]:hover {
    background-color: #5a6268;
    box-shadow: 0 4px 8px rgba(106, 115, 122, 0.2);
}