/* addAchievement.css */
/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 20px;*/
/*}*/
.main form {
    max-width: 500px;
}
.main label {
    font-weight: bold;
}
.main input[type=text], textarea, select, input[type=date] {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}
.main button {
    margin-top: 10px;
    margin-right: 10px;
}
