/* 页面基础样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf4fc;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}

/* 左侧导航栏样式 */
.sidebar {
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #e3e6f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}
/* 当侧边栏被隐藏时 */
.sidebar.collapsed {
    display: none; /* 隐藏侧边栏 */
}

/* 侧边栏收起时，按钮区域样式 */
.sidebar-toggle {
    display: inline-block;
    background-color: #4e73df;
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.sidebar ul {
    list-style: none;
    padding: 0; /* 确保没有内边距 */
    margin: 0; /* 确保没有外边距 */
}

.sidebar ul li {
    display: block;
    margin-bottom: 15px; /* 控制导航项间距 */
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #4e73df; /* 蓝色背景 */
    color: #ffffff; /* 白色文字 */
    /*border: 2px solid #4e73df; !* 蓝色边框 *!*/
    width: 100%; /* 宽度设置为 100% */
    box-sizing: border-box; /* 包括边框在内计算宽度 */
    display: inline-block;
    border-radius: 10px;
}

.logout {
    margin-top: auto;
}

.logout a {
    text-decoration: none;
    background-color: #ff6f61; /* 珊瑚红颜色 */
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout a:hover {
    background-color: #e55d50;
}

/* 主体内容样式 */
.main {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    grid-template-areas:
    "carousel carousel"
    "intro articles"
    "soft book"
    "patent product";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.carousel {
    grid-area: carousel;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 0.5s ease;
}

.carousel img.active {
    left: 0;
}

.carousel img.prev {
    left: -100%;
}

/* 各模块样式 */
.section {
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section img{
    width: 90%;
}

.section h2 {
    margin-top: 0;
    color: #4e73df;
    display: inline-block;
}

.section a {
    float: right;
    color: #4e73df;
    text-decoration: none;
    margin-top: 5px;
}

.section a:hover {
    text-decoration: underline;
}

/* 列表样式 */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li span {+
    color: #666;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #e1effd;
    font-size: 14px;
    color: #555;
}

/* Header 样式 */
.header {
    height: 35px;
    display: flex;
    justify-content: flex-start;  /* 默认情况下，Flexbox 子元素从左边开始排列 */
    align-items: center;  /* 垂直居中对齐 */
    padding: 10px 20px;  /* 上下和左右的内边距 */
    background-color: white;  /* 设置背景颜色为白色 */
}

.header .title {
    color: #333333;
    flex-grow: 1;  /* 使标题区域可以占用剩余空间 */
    text-align: center;  /* 使标题在其容器内居中 */
}

.header .login-btn {
    text-align: right;  /* 确保按钮在右端 */
}

.header a.btn-submit {
    background-color: #4e73df;
    color: white;
    text-decoration: none;  /* 去掉默认的链接下划线 */
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header a.btn-submit:hover {
    background-color: #2e59d9;  /* 按钮悬停时的颜色 */
}
/* Header 中的按钮 */
.header .sidebar-toggle {
    display: inline-block;
    background: none;
    color: #4e73df;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* 团队调整 */
.section.intro {
    display: flex;
    flex-direction: column;
}

.section.intro .intro-content {
    overflow: auto; /* 如果内容超出会出现滚动条 */
}

.section.intro p {
    margin-bottom: 15px; /* 为每个段落标签增加底部外边距 */
}

.section.intro p:last-child {
    margin-bottom: 0; /* 最后一个段落不增加底部外边距 */
}

.section.intro a.btn-submit {
    margin-top: 10px; /* 给按钮添加一点上边距，使其和上面内容隔开一点距离 */
    align-self: flex-start; /* 让按钮靠左侧对齐 */
}
