/* 左侧导航栏样式 */
.sidebar {
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #e3e6f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0; /* 确保没有内边距 */
    margin: 0; /* 确保没有外边距 */
}

.sidebar ul li {
    display: block;
    margin-bottom: 15px; /* 控制导航项间距 */
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #4e73df; /* 蓝色背景 */
    color: #ffffff; /* 白色文字 */
    border: 2px solid #4e73df; /* 蓝色边框 */
    width: 100%; /* 宽度设置为 100% */
    box-sizing: border-box; /* 包括边框在内计算宽度 */
    display: inline-block;
    border-radius: 10px;
}

.logout {
    margin-top: auto;
}

.logout a {
    text-decoration: none;
    background-color: #ff6f61; /* 珊瑚红颜色 */
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout a:hover {
    background-color: #e55d50;
}